/* ----------custome style
----------------------------- */

/* header style  */
.honda-bg-info{
    background-color:#264653;
}
.honda-btn-purchase{
    width: 168px;
    height: 44px;
    background-color: #E76F51;
    border-radius: 5px;
    color: #FFFF;
    font-weight: 500;
    font-size:16px;
}

/* featured section style */
.featured{
    width:288px;
    height:243px;
}
.gray-scale{
    filter:grayscale(100%);
}

/* happy client section  */
.client{
    width: 322px;
    height:478px;
}
.fa-star{
    font-size: 22px;
}

 .fa-star.filled{
color:#E77c40;
}
.fa-star.empty{
    color:#E77c40;
}

 /* extra section one */
 .extra img{
     width:100px;
 }
 /* extra section two  */
 .bg-color{
     background-color:steelblue;
 }
 .extra-button{
     background-color:violet;
     border:1px solid tomato;
     border-radius: 5px;
     padding: 3px 10px;
     margin-bottom: 10px;
     
 }
